<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>Controlador.dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorBuscarVuelosIda</servlet-name>
        <servlet-class>Controlador.controladorBuscarVuelosIda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorBuscarVuelosIdaVuelta</servlet-name>
        <servlet-class>Controlador.controladorBuscarVuelosIdaVuelta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorVueloElegido</servlet-name>
        <servlet-class>Controlador.controladorVueloElegido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorDatosPasajeros</servlet-name>
        <servlet-class>Controlador.controladorDatosPasajeros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorCargarServicios</servlet-name>
        <servlet-class>Controlador.controladorCargarServicios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorServiciosPasajerosIda</servlet-name>
        <servlet-class>Controlador.controladorServiciosPasajerosIda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorServiciosPasajerosVuelta</servlet-name>
        <servlet-class>Controlador.controladorServiciosPasajerosVuelta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorCargarAsientos</servlet-name>
        <servlet-class>Controlador.controladorCargarAsientos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorAsientosPasajeros</servlet-name>
        <servlet-class>Controlador.controladorAsientosPasajeros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorProcesoPagar</servlet-name>
        <servlet-class>Controlador.controladorProcesoPagar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorBuscarPagador</servlet-name>
        <servlet-class>Controlador.controladorBuscarPagador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorPagadorNuevo</servlet-name>
        <servlet-class>Controlador.controladorPagadorNuevo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorProcesoTarjeta</servlet-name>
        <servlet-class>Controlador.controladorProcesoTarjeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorSacarTarjetas</servlet-name>
        <servlet-class>Controlador.controladorSacarTarjetas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorTarjetaElegida</servlet-name>
        <servlet-class>Controlador.controladorTarjetaElegida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorTarjetaNueva</servlet-name>
        <servlet-class>Controlador.controladorTarjetaNueva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorMontarReserva</servlet-name>
        <servlet-class>Controlador.controladorMontarReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorConfirmarPago</servlet-name>
        <servlet-class>Controlador.controladorConfirmarPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorExitoReserva</servlet-name>
        <servlet-class>Controlador.controladorExitoReserva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorPagadorFacturar</servlet-name>
        <servlet-class>Controlador.controladorPagadorFacturar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorCargarOrigenes</servlet-name>
        <servlet-class>Controlador.controladorCargarOrigenes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorCargarDestinos</servlet-name>
        <servlet-class>Controlador.controladorCargarDestinos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/dispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorBuscarVuelosIda</servlet-name>
        <url-pattern>/controladorBuscarVuelosIda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorBuscarVuelosIdaVuelta</servlet-name>
        <url-pattern>/controladorBuscarVuelosIdaVuelta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorVueloElegido</servlet-name>
        <url-pattern>/controladorVueloElegido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorDatosPasajeros</servlet-name>
        <url-pattern>/controladorDatosPasajeros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorCargarServicios</servlet-name>
        <url-pattern>/controladorCargarServicios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorServiciosPasajerosIda</servlet-name>
        <url-pattern>/controladorServiciosPasajerosIda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorServiciosPasajerosVuelta</servlet-name>
        <url-pattern>/controladorServiciosPasajerosVuelta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorCargarAsientos</servlet-name>
        <url-pattern>/controladorCargarAsientos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorAsientosPasajeros</servlet-name>
        <url-pattern>/controladorAsientosPasajeros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorProcesoPagar</servlet-name>
        <url-pattern>/controladorProcesoPagar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorBuscarPagador</servlet-name>
        <url-pattern>/controladorBuscarPagador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorPagadorNuevo</servlet-name>
        <url-pattern>/controladorPagadorNuevo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorProcesoTarjeta</servlet-name>
        <url-pattern>/controladorProcesoTarjeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorSacarTarjetas</servlet-name>
        <url-pattern>/controladorSacarTarjetas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorTarjetaElegida</servlet-name>
        <url-pattern>/controladorTarjetaElegida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorTarjetaNueva</servlet-name>
        <url-pattern>/controladorTarjetaNueva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorMontarReserva</servlet-name>
        <url-pattern>/controladorMontarReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorConfirmarPago</servlet-name>
        <url-pattern>/controladorConfirmarPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorExitoReserva</servlet-name>
        <url-pattern>/controladorExitoReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorPagadorFacturar</servlet-name>
        <url-pattern>/controladorPagadorFacturar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorCargarOrigenes</servlet-name>
        <url-pattern>/controladorCargarOrigenes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorCargarDestinos</servlet-name>
        <url-pattern>/controladorCargarDestinos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
